.account{
    .or{
        position: relative;
        text-align: center;
        color: $accent-dark;
        &::after, &::before{
            content: "";
            height: 0.75px;
            width: 46%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background-image: linear-gradient(to right, transparent 50%, $accent-border 50%);
            background-size: 10px 10%;
            opacity: 1;
        }
        &::after{
            right: 0;
        }
        &::before{
            left: 0;
        }
    }
    .link-btn{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $accent-dark;
        gap: clamp(10px, 0.83vw, 20px);
        font-weight: 500;
        line-height: 120%;
        padding: 12px clamp(10px, 0.83vw, 20px);
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='5' ry='5' stroke='%23985A86FF' stroke-width='2' stroke-dasharray='4%2c 6' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
        border-radius: 5px;
        img{
            width: (24px, 1.66vw, 40px)
        }
        &:hover{
            color: $accent;
        }
    }
    .about-password{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .checkbox {
            input {
                padding: 0;
                display: none;
                border: 1px solid $accent-border;
                cursor: pointer;
                &:checked + label {
                    &:after {
                        content: "";
                        display: block;
                        position: absolute;
                        top: 2px;
                        left: 6px;
                        width: 6px;
                        height: 13px;
                        z-index: 10;
                        border: solid $white;
                        border-width: 0 2px 2px 0;
                        transform: rotate(45deg);
                    }
                    &:before {
                        background: $accent;
                        border-color: $accent;
                    }
                }
            }
            label {
                position: relative;
                cursor: pointer;
                &:before {
                    content: "";
                    -webkit-appearance: none;
                    background: transparent;
                    border: 1px solid $accent-border;
                    border-radius: 4px;
                    width: 20px;
                    height: 20px;
                    display: inline-block;
                    position: relative;
                    vertical-align: middle;
                    cursor: pointer;
                    margin-right: 8px;
                    margin-top: -3px;
                }
            }
        }
    }
}