.links{
    .block{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: clamp(12px, 1.25vw, 32px);
        padding: clamp(12px, 1.25vw, 40px);
        .icon{
            svg{
                width: clamp(36px, 2.5vw, 64px);
                height: clamp(36px, 2.5vw, 64px);
                object-fit: cover;
                path{
                    fill: $accent;
                }
            }
        }
    }
}

.google-location-map{
    iframe{
        width: 100%;
        height: clamp(400px, 31.25vw, 700px);
    }
}
