/* ------------------------------------------------------------- *
 * Header CSS Start
/* ------------------------------------------------------------- */

//  Navigation

.main-menu {
	width: 100%;
	z-index: 9999;
	height: 112px;
	display: grid;
	align-content: center;
	@include media-query(1199px) {
		height: 80px;
	}
	.main-menu__block {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 24px;
	}
	.main-menu__left {
		display: flex;
		align-items: center;
		gap: clamp(24px, 3.33vw, 90px);
	}
	.main-menu__right {
		display: flex;
		align-items: center;
		gap: clamp(12px, 0.83vw, 24px);
		.icon-btn{
			display: flex;
			font-size: clamp(16px, 1.042vw, 24px);
			align-items: center;
			justify-content: center;
			padding: clamp(12px, 0.83vw, 20px);
			background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%23985A86FF' stroke-width='2' stroke-dasharray='5' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
			border-radius: 10px;
			transition: $transition;
			svg{
				path{
					fill: $accent-dark;
					transition: $transition;
				}
			}
			&:hover{
				background-color: $accent;
				transition: $transition;
				svg{
					path{
						fill: $white;
						transition: $transition;
					}
				}
			}
		}
	}
	.main-menu__logo {
		.logo{
			text-align: center;
		}
	}
	.main-menu__nav {
		margin: 0 auto;
		.main-menu__list,
		.main-menu__list ul {
			margin: 0;
			padding: 0;
			list-style-type: none;
			align-items: center;
			display: none;
			@include media-query-min(1200px) {
				display: flex;
				gap: clamp(16px, 1.66vw, 42px);
			}
		}
	
		.main-menu__list {
			> li {
				padding-top: 8px;
				padding-bottom: 8px;
				position: relative;
				z-index: 999999;
				> a {
					font-size: clamp(17px, 1.042vw, 24px);
					display: flex;
					align-items: center;
					font-family: $font-sec;
					color: $accent-dark;
					font-weight: 600;
					line-height: 140%;
					letter-spacing: -0.4px;
					text-transform: uppercase;
					position: relative;
					transition: all 500ms ease;
					font-feature-settings: 'case' on;
					&.active {
						color: $accent;
						text-decoration: underline;
						transition: all 500ms ease;
					}
					&:hover {
						color: $accent;
						text-decoration: underline;
						transition: all 500ms ease;
					}
				}
				&.current,
				&:hover {
					text-decoration: underline;
					transition: all 500ms ease;
					color: $accent;
				}
			}
	
			li {
				ul {
					position: absolute;
					top: 100%;
					min-width: 250px;
					flex-direction: column;
					justify-content: flex-start;
					align-items: flex-start;
					opacity: 0;
					visibility: hidden;
					transform-origin: top center;
					transform: scaleY(0) translateZ(100px);
					transition: 0.3s cubic-bezier(0.18, 0.55, 1, 1);
					z-index: 99;
					background-color: $white;
					box-shadow: 0px 10px 60px 0px rgba(255, 255, 255, 0.07);
					padding: 15px 16px 10px;
					/* dashed border */
					background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%23985A86FF' stroke-width='2' stroke-dasharray='10' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
					border-radius: 10px;
					li {
						flex: 1 1 100%;
						width: 100%;
						position: relative;
						transition: all 500ms ease;
						> a {
							font-size: 16px;
							line-height: 26px;
							color: black;
							font-weight: 500;
							font-family: $font-primary;
							display: flex;
							padding: 7px 16px;
							transition: 400ms;
							margin-bottom: 4px;
							border-radius: 5px;
							transition: all 500ms ease;
							&:after {
								position: absolute;
								right: 15px;
								top: 7px;
								border-radius: 0;
								font-size: 14px;
								font-weight: 400;
								font-family: $font-awesome;
								content: "\f105";
								color: $white;
								visibility: hidden;
								opacity: 0;
								transition: all 500ms ease;
								transform: scale(0);
							}
						}
						&.current,
						&:hover {
							> a {
								background-color: $accent;
								transition: all 500ms ease;
								color: $white;
								
	
								&::after {
									visibility: visible;
									opacity: 1;
									transform: scale(1);
								}
							}
						}
						> ul {
							top: 0;
							left: calc(100% + 20px);
	
							&.right-align {
								top: 0;
								left: auto;
								right: 100%;
							}
	
							ul {
								display: none;
							}
						}
					}
				}
	
				&:hover {
					> ul {
						opacity: 1;
						visibility: visible;
						gap: 6px;
						
						transform: scaleY(1) translateZ(0px);
					}
				}
	
				&:nth-last-child(1),
				&:nth-last-child(2) {
					ul {
						li {
							> ul {
								@include short-query(1200px, 1399px) {
									left: auto;
									right: calc(100% + 20px);
								}
							}
						}
					}
				}
			}
		}
	}
}

.mobile-nav__toggler {
	font-size: 24px;
	font-weight: 300;
	color: $accent;
	cursor: pointer;
	transition: 500ms;
	@include media-query-min(1200px) {
		display: none;
	}
	&:hover {
		color: $accent;
	}
}

/*--------------------------------------------------------------
# Mobile Nav
--------------------------------------------------------------*/
.mobile-nav__wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 999;
	transform: translateX(-100%);
	transform-origin: left center;
	transition:
		transform 500ms ease 500ms,
		opacity 500ms ease 500ms,
		visibility 500ms ease 500ms;
	visibility: hidden;
	position: fixed;

	.container {
		padding-left: 0;
		padding-right: 0;
	}

	&.expanded {
		opacity: 1;
		transform: translateX(0%);
		visibility: visible;
		transition:
			transform 500ms ease 0ms,
			visibility 500ms ease 0ms;

		.mobile-nav__content {
			opacity: 1;
			visibility: visible;
			transform: translateX(0);
			transition:
				opacity 500ms ease 300ms,
				visibility 500ms ease 300ms,
				transform 500ms ease 300ms;
		}
	}

	.mobile-nav__overlay {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: $accent-dark;
		opacity: 0.3;
		cursor: url(../media/close.png), auto;
		transition:
			opacity 500ms ease 300ms,
			visibility 500ms ease 300ms,
			transform 500ms ease 300ms;
	}

	.mobile-nav__content {
		width: 300px;
		background-color: $accent-lightest;
		z-index: 10;
		position: relative;
		height: 100%;
		overflow-y: auto;
		padding-top: 30px;
		padding-bottom: 30px;
		padding-left: 15px;
		padding-right: 15px;
		opacity: 0;
		visibility: hidden;
		transform: translateX(-100%);
		transition:
			opacity 500ms ease 0ms,
			visibility 500ms ease 0ms,
			transform 500ms ease 0ms;

		.main-menu__nav {
			display: block;
			padding: 0;
		}

		.logo-box {
			margin-bottom: 40px;
			display: flex;
		}

		.main-menu__list,
		.main-menu__list ul {
			margin: 0;
			padding: 0;
			list-style-type: none;
		}

		.main-menu__list {
			ul {
				display: none;
				border-top: 1px solid RGBA(255, 255, 255, 0.1);

				li {
					> a {
						padding-left: 1em;
					}

					&:not(:last-child) {
						border-bottom: 1px solid RGBA(255, 255, 255, 0.1);
					}
				}
			}

			li {
				&:not(:last-child) {
					border-bottom: 1px solid RGBA(255, 255, 255, 0.1);
				}

				a {
					display: flex;
					justify-content: space-between;
					line-height: 30px;
					color: $accent-dark;
					font-size: 16px;
					font-family: $font-primary;
					text-transform: capitalize;
					font-weight: 600;
					height: 46px;
					letter-spacing: 0.48px;
					align-items: center;
					transition: 500ms;

					&.expanded {
						color: $accent;
					}

					button {
						width: 30px;
						height: 30px;
						background-color: $accent;
						border: none;
						outline: none;
						color: $white;
						display: flex;
						align-items: center;
						justify-content: center;
						text-align: center;
						transform: rotate(-90deg);
						transition: transform 500ms ease;

						&.expanded {
							transform: rotate(0deg);
						}
					}
				}
			}
		}
	}

	.mobile-nav__close {
		position: absolute;
		top: 20px;
		right: 15px;
		font-size: 18px;
		color: $white;
		cursor: pointer;
	}
}

.mobile-nav__contact {
	margin-bottom: 0;
	margin-top: 20px;
	margin-bottom: 20px;

	li {
		color: $accent-dark;
		font-size: 14px;
		font-weight: 500;
		position: relative;
		display: flex;
		align-items: center;

		+ li {
			margin-top: 15px;
		}

		a {
			color: inherit;
			transition: 500ms;

			&:hover {
				color: $accent;
			}
		}

		i {
			width: 30px;
			height: 30px;
			border-radius: 50%;
			background-color: $accent;
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			font-size: 14px;
			margin-right: 10px;
			color: $white;
		}
	}
}

.mobile-nav__container .main-menu__logo,
.mobile-nav__container .main-menu__right {
	display: none;
}
.mobile-nav__overlay {
	transition:
		opacity 500ms ease 300ms,
		visibility 500ms ease 300ms,
		transform 500ms ease 300ms;
}